name: renovate
on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:
  push:
    branches: 
      - main

jobs:
  renovate:
    concurrency:
      group: "renovate"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@e23f4d9675532445118c886434f5a34292b630b4 # v46.0.2
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: renovate.json
        env:
          LOG_LEVEL: 'info'
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          GITHUB_COM_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
