name: renovate
on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:
  push:
    branches: 
      - main

jobs:
  renovate:
    concurrency:
      group: "renovate"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@03026bd55840025343414baec5d9337c5f9c7ea7 # v44.0.4
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: renovate.json
        env:
          LOG_LEVEL: 'info'
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          GITHUB_COM_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
