name: renovate
on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:
  push:
    branches: 
      - main

jobs:
  renovate:
    concurrency:
      group: "renovate"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@f7fad228a053c69a98e24f8e4f6cf40db8f61e08 # v44.2.1
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: renovate.json
        env:
          LOG_LEVEL: 'info'
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          GITHUB_COM_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
